.OutputPage {
  /* border: 1px solid #fff; */
  height: calc(100dvh - 15dvh);
  justify-content: flex-start !important;
  gap: 5dvh;
  padding: 5dvh 0;

  .downloadTxtImg {
    width: 55dvh;
  }

  .waitTxtImg {
    width: 45dvh;
  }

  .loader {
    margin-top: 20vw;
    width: 70vw;
  }
  .generatedImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5dvh;
    .imgWrapper {
      clip-path: polygon(
        10% 0,
        100% 0,
        100% 20%,
        100% 89%,
        90% 100%,
        20% 100%,
        0 100%,
        0 11%
      );
      background: linear-gradient(to right, #42d3d3, #f24ec1);
      padding: 1vw;
      .imgContainer {
        border: 1px solid black;
        clip-path: polygon(
          10% 0,
          100% 0,
          100% 20%,
          100% 89%,
          90% 100%,
          20% 100%,
          0 100%,
          0 11%
        );
        width: 38dvh;
      }
    }

    .btnContainer {
      gap: 3vw;
      /* .btn {
          width: 60vw;
          padding: 1vw 5vw;
        } */
    }
  }
}
