.AvatarPage {
  height: calc(100dvh - 15dvh);
  gap: 3dvh;
  .headingImgContainer {
    width: 55dvh;
  }
  .main {
    /* border: 1px solid #fff; */
    width: 90%;
    height: 80%;
    flex-wrap: wrap;
    gap: 2dvh;
    .singleImg {
      /* overflow: hidden; */
      cursor: pointer;
      &:hover .parent {
        transform: scale(1.05);
      }
      &:hover .hoverContainer {
        opacity: 1;
      }
      .parent {
        position: relative;
        height: 100%;
        width: 100%;
        transition: all ease 0.5s;
        .imgContainer {
          width: 100%;
          height: 100%;
        }
        .showHoverContainer {
          opacity: 1 !important;
          /* border: 0.4vw solid var(--themeColor1); */
          /* overflow: hidden; */
        }
        .hoverContainer {
          width: 100%;
          height: 100%;
          background: linear-gradient(
            transparent,
            transparent,
            rgba(0, 0, 0, 1)
          );
          opacity: 0;
          position: absolute;
          inset: 0;
          transition: all ease 0.5s;
          /* overflow: hidden; */
          .selectIcon {
            position: absolute;
            bottom: 5%;
            width: 5vw;
          }
        }
      }
    }
    .horiImg {
      width: 22.5dvh;
      .hoverContainer {
        clip-path: polygon(
          12% 0,
          100% 0,
          100% 20%,
          100% 87%,
          89% 100%,
          20% 100%,
          0 100%,
          0 14%
        );
      }
    }
    .vertImg {
      width: 18.8dvh;
      .hoverContainer {
        clip-path: polygon(
          10% 0,
          100% 0,
          100% 20%,
          100% 93%,
          90% 100%,
          20% 100%,
          0 100%,
          0 11%
        );
      }
    }
  }
  /* .footer { */
  /* width: 60vw; */
  /* } */
}
