.Header {
  /* border: 1px solid #fff; */
  justify-content: flex-start !important;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
  height: 20dvh;
  padding: 1vh;
  gap: 1vw;
  .payLogo {
    align-self: flex-start;
    /* border: 1px solid #fff; */
    padding: 1.5vh;
    width: 22dvh;
    /* height: 10dvh; */
  }
  .imgContainer {
    /* padding-top: 1vh; */
    width: 22.5dvh;
    /* border: 1px solid #fff; */

    display: flex;
    justify-content: center;
  }
}
